bluez-firmware
firmware-amd-graphics
firmware-ath9k-htc
firmware-atheros
firmware-brcm80211
firmware-intel-sound
firmware-iwlwifi
firmware-libertas
firmware-linux
firmware-misc-nonfree
firmware-realtek
firmware-sof-signed
firmware-ti-connectivity
firmware-zd1211
ftp
openssh-client
openssh-server
parted
sudo
tasksel
tmux
tzdata-legacy
vim
zsh
zsh-autosuggestions
zsh-syntax-highlighting
cherrytree
gparted
rdesktop
recordmydesktop
tightvncserver
xtightvncviewer
curl
wget
dbus-user-session
dbus-x11
firefox-esr | firefox
haveged
debian-archive-keyring
xdg-utils
xserver-xorg-legacy
alsa-utils
arandr
betterlockscreen
brightnessctl
conky
flameshot
htop
i3
alacritty
lightdm
lxappearance
neofetch
network-manager
network-manager-gnome
nitrogen
numlockx
pavucontrol
picom
polybar
pulseaudio
python3-i3ipc
qt5ct
qt6ct
ranger
rofi
suckless-tools | dmenu
sxiv
thunar
xclip
xdotool
xfce4-power-manager
xorg
zathura